Source: stx-openstack-helm
Section: libs
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 chartmuseum,
 helm,
 openstack-helm-infra,
 procps
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: stx-openstack-helm
Section: libs
Architecture: any
Depends: ${misc:Depends},
 openstack-helm,
 openstack-helm-infra,
 python3-k8sapp-openstack-wheels
Description: StarlingX Openstack Armada Helm Charts
 This package contains Armada helm charts for the Openstack armada
 application.
