Source: ingress-nginx-helm
Section: libs
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 helm
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: ingress-nginx-helm
Section: libs
Architecture: all
Depends: ${misc:Depends}
Description: StarlingX Nginx Helm Charts
 This package contains helm charts for the Nginx Ingress application.
