#
# Copyright (c) 2023-2025 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

---
release_group: osh-openstack-cinder
labels:
  isApplication: false
  api:
    node_selector_key: openstack-control-plane
    node_selector_value: enabled
  backup:
    node_selector_key: openstack-control-plane
    node_selector_value: enabled
  job:
    node_selector_key: openstack-control-plane
    node_selector_value: enabled
  scheduler:
    node_selector_key: openstack-control-plane
    node_selector_value: enabled
  volume:
    node_selector_key: openstack-control-plane
    node_selector_value: enabled
images:
  tags:
    bootstrap: docker.io/starlingx/stx-heat:master-debian-stable-latest
    cinder_api: docker.io/starlingx/stx-cinder:master-debian-stable-latest
    cinder_backup: docker.io/starlingx/stx-cinder:master-debian-stable-latest
    cinder_backup_storage_init: docker.io/openstackhelm/ceph-config-helper:ubuntu_bionic-20201223
    cinder_db_sync: docker.io/starlingx/stx-cinder:master-debian-stable-latest
    cinder_scheduler: docker.io/starlingx/stx-cinder:master-debian-stable-latest
    cinder_storage_init: docker.io/openstackhelm/ceph-config-helper:ubuntu_bionic-20201223
    cinder_volume: docker.io/starlingx/stx-cinder:master-debian-stable-latest
    cinder_volume_usage_audit: docker.io/starlingx/stx-cinder:master-debian-stable-latest
    db_drop: docker.io/starlingx/stx-heat:master-debian-stable-latest
    db_init: docker.io/starlingx/stx-heat:master-debian-stable-latest
    dep_check: quay.io/airshipit/kubernetes-entrypoint:9ff5d2e488ad18187bccc48e9595f197d27110c4-ubuntu_jammy
    image_repo_sync: null
    ks_endpoints: docker.io/starlingx/stx-heat:master-debian-stable-latest
    ks_service: docker.io/starlingx/stx-heat:master-debian-stable-latest
    ks_user: docker.io/starlingx/stx-heat:master-debian-stable-latest
    rabbit_init: docker.io/library/rabbitmq:3.9.29-management
    pre_apply_cleanup: docker.io/starlingx/stx-vault-manager:master-debian-stable-latest
    test: null
pod:
  replicas:
    api: 2
    volume: 1
    scheduler: 1
    backup: 1
  affinity:
    anti:
      type:
        default: requiredDuringSchedulingIgnoredDuringExecution
  tolerations:
    cinder:
      enabled: true
      tolerations:
      - key: node-role.kubernetes.io/master
        operator: Exists
        effect: NoSchedule
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
        effect: NoSchedule
      - key: openstack-compute-node
        operator: Exists
        effect: NoSchedule
  security_context:
    cinder_volume:
      container:
        cinder_volume:
          privileged: true
network:
  api:
    ingress:
      classes:
        namespace: "nginx-openstack"
        cluster: "nginx"
endpoints:
  oslo_messaging:
    statefulset:
      name: osh-openstack-rabbitmq-rabbitmq
  identity:
    force_public_endpoint: true
conf:
  cinder:
    DEFAULT:
      backup_driver: cinder.backup.drivers.ceph.CephBackupDriver
      osapi_volume_listen: "::"
      glance_api_servers: http://glance.openstack.svc.cluster.local:80/
    keystone_authtoken:
      interface: internal
      auth_uri: http://keystone.openstack.svc.cluster.local:80/v3
      auth_url: http://keystone.openstack.svc.cluster.local:80/v3
storage: rbd

storage_conf:
  storage_backends:
    - name: ceph
      enabled: true
    - name: netapp-nfs
      enabled: false
    - name: netapp-iscsi
      enabled: false
    - name: netapp-fc
      enabled: false
  volume_storage_class_priority:
    - ceph
    - netapp-nfs
    - netapp-iscsi
    - netapp-fc
...
