#
# Copyright (c) 2022-2025 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

---
apiVersion: "helm.toolkit.fluxcd.io/v2"
kind: HelmRelease
metadata:
  name: nova
  labels:
    chart_group: openstack-nova
spec:
  releaseName: osh-openstack-nova
  chart:
    spec:
      chart: nova
      version: 2025.1.0
      sourceRef:
        kind: HelmRepository
        name: starlingx
  interval: 1m
  timeout: 30m
  test:
    enable: false
  install:
    disableHooks: false
    disableWait: true
  upgrade:
    disableHooks: false
    disableWait: true
  dependsOn:
    - name: placement
      namespace: openstack
  valuesFrom:
    - kind: Secret
      name: nova-static-overrides
      valuesKey: nova-static-overrides.yaml
    - kind: Secret
      name: nova-system-overrides
      valuesKey: nova-system-overrides.yaml
...
