Source: openstack-helm
Section: libs
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 chartmuseum,
 helm,
 openstack-helm-infra,
 procps
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: openstack-helm
Section: libs
Architecture: any
Depends: ${misc:Depends}, openstack-helm-infra
Description: StarlingX Openstack Helm
 This package contains a patched version of the openstack-helm
 repo.
