#!/usr/bin/make -f
# export DH_VERBOSE = 1

export ROOT = debian/tmp
export APP_FOLDER = $(ROOT)/usr/lib/helm

export HELM_FOLDER=/usr/lib/helm
export TOOLKIT_VERSION = 0.2.53

%:
	dh $@

override_dh_auto_build:
	# Stage helm-toolkit in the local repo.
	cp $(HELM_FOLDER)/helm-toolkit-$(TOOLKIT_VERSION).tgz .
	# Host a server for the helm charts.
	chartmuseum --debug --port=8879 --context-path='/charts' --storage="local" \
		--storage-local-rootdir="." &
	sleep 2
	helm repo add local http://localhost:8879/charts
	# Create the chart TGZ files.
	make aodh
	make barbican
	make ceilometer
	make cinder
	make glance
	make heat
	make horizon
	make ironic
	make keystone
	make magnum
	make neutron
	make nova
	make placement
	# Terminate the helm chart server.
	pkill chartmuseum
	# Remove the helm-toolkit tarball
	rm helm-toolkit-$(TOOLKIT_VERSION).tgz

override_dh_auto_install:
	# Install the chart tar files.
	install -d -m 755 $(APP_FOLDER)
	install -p -D -m 755 *.tgz $(APP_FOLDER)

override_dh_auto_test:

override_dh_usrlocal:
