#
# Copyright (c) 2022-2024 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

---
release_group: osh-openstack-pci-irq-affinity-agent
labels:
  isApplication: false
images:
  tags:
    pci_irq_affinity_agent: docker.io/starlingx/stx-pci-irq-affinity-agent:master-debian-stable-latest
    dep_check: quay.io/airshipit/kubernetes-entrypoint:9ff5d2e488ad18187bccc48e9595f197d27110c4-ubuntu_jammy
tolerations:
  - key: node-role.kubernetes.io/master
    operator: Exists
    effect: NoSchedule
  - key: node-role.kubernetes.io/control-plane
    operator: Exists
    effect: NoSchedule
  - key: openstack-compute-node
    operator: Exists
    effect: NoSchedule
...
