#
# Copyright (c) 2022-2025 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

---
release_group: osh-openstack-libvirt
ceph_client:
  user_secret_name: cinder-volume-rbd-keyring
labels:
  isApplication: false
  agent:
    libvirt:
      node_selector_key: openstack-compute-node
      node_selector_value: enabled
conf:
  ceph:
    enabled: true
  kubernetes:
    cgroup: "k8s-infra"
    cgroup_controllers:
      - blkio
      - cpu
      - devices
      - freezer
      - hugetlb
      - memory
      - net_cls
      - perf_event
      - rdma
      - misc
      - pids
libvirt:
  listen_addr: "::"
pod:
  tolerations:
    libvirt:
      enabled: true
      tolerations:
      - key: node-role.kubernetes.io/master
        operator: Exists
        effect: NoSchedule
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
        effect: NoSchedule
      - key: openstack-compute-node
        operator: Exists
        effect: NoSchedule
annotations:
  pod:
    libvirt:
      starlingx.io/core_pattern: "/dev/null"
images:
  tags:
    ceph_config_helper: docker.io/openstackhelm/ceph-config-helper:ubuntu_bionic-20201223
    dep_check: quay.io/airshipit/kubernetes-entrypoint:9ff5d2e488ad18187bccc48e9595f197d27110c4-ubuntu_jammy
    image_repo_sync: null
    libvirt: docker.io/starlingx/stx-libvirt:master-debian-stable-latest
    pre_apply_cleanup: docker.io/starlingx/stx-vault-manager:master-debian-stable-latest
    libvirt_exporter: null
    kubectl: null
...
