#
# Copyright (c) 2022-2025 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

---
apiVersion: "helm.toolkit.fluxcd.io/v2"
kind: HelmRelease
metadata:
  name: rabbitmq
  labels:
    chart_group: openstack-rabbitmq
spec:
  releaseName: osh-openstack-rabbitmq
  chart:
    spec:
      chart: rabbitmq
      version: 2025.1.0
      sourceRef:
        kind: HelmRepository
        name: starlingx
  interval: 1m
  timeout: 30m
  test:
    enable: false
  install:
    disableHooks: False
  upgrade:
    disableHooks: False
  dependsOn:
    - name: memcached
      namespace: openstack
  valuesFrom:
    - kind: Secret
      name: rabbitmq-static-overrides
      valuesKey: rabbitmq-static-overrides.yaml
    - kind: Secret
      name: rabbitmq-system-overrides
      valuesKey: rabbitmq-system-overrides.yaml
...
