#
# Copyright (c) 2022-2025 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

---
apiVersion: "helm.toolkit.fluxcd.io/v2"
kind: HelmRelease
metadata:
  name: mariadb
  labels:
    chart_group: openstack-mariadb
spec:
  releaseName: osh-openstack-mariadb
  chart:
    spec:
      chart: mariadb
      version: 2025.1.0
      sourceRef:
        kind: HelmRepository
        name: starlingx
  interval: 1m
  timeout: 30m
  test:
    enable: false
  install:
    disableHooks: False
  upgrade:
    disableHooks: False
  dependsOn:
    - name: ingress-nginx-openstack
      namespace: openstack
    - name: nginx-ports-control
      namespace: openstack
  valuesFrom:
    - kind: Secret
      name: mariadb-static-overrides
      valuesKey: mariadb-static-overrides.yaml
    - kind: Secret
      name: mariadb-system-overrides
      valuesKey: mariadb-system-overrides.yaml
...
