#
# Copyright (c) 2022-2025 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

---
release_group: osh-openstack-mariadb
manifests:
  pod_test: false
monitoring:
  prometheus:
    enabled: false
labels:
  isApplication: false
  server:
    node_selector_key: openstack-control-plane
    node_selector_value: enabled
  prometheus_mysql_exporter:
    node_selector_key: openstack-control-plane
    node_selector_value: enabled
images:
  tags:
    dep_check: quay.io/airshipit/kubernetes-entrypoint:9ff5d2e488ad18187bccc48e9595f197d27110c4-ubuntu_jammy
    ingress: null
    error_pages: null
    image_repo_sync: null
    prometheus_create_mysql_user: null
    prometheus_mysql_exporter: null
    prometheus_mysql_exporter_helm_tests: null
    ks_user: docker.io/starlingx/stx-heat:master-debian-stable-latest
    mariadb: docker.io/openstackhelm/mariadb:ubuntu_focal-20250809
    mariadb_backup: null
    pre_apply_cleanup: docker.io/starlingx/stx-vault-manager:master-debian-stable-latest
    mariadb_controller: docker.io/openstackhelm/mariadb:ubuntu_focal-20250809
    scripted_test: null
pod:
  probes:
    server:
      mariadb:
        readiness:
          enabled: true
        startup:
          enabled: true
        liveness:
          enabled: true
  affinity:
    anti:
      type:
        default: requiredDuringSchedulingIgnoredDuringExecution
  tolerations:
    mariadb:
      enabled: true
      tolerations:
      - key: node-role.kubernetes.io/master
        operator: Exists
        effect: NoSchedule
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
        effect: NoSchedule
      - key: openstack-compute-node
        operator: Exists
        effect: NoSchedule
  resources:
    enabled: true
    ingress:
      requests:
        ephemeral-storage: "500Ki"
conf:
  ingress_conf:
    worker-processes: '4'
  database:
    config_override: |
      [mysqld]
      wait_timeout=3600
      wsrep_provider_options="gmcast.listen_addr=tcp://0.0.0.0:{{ tuple "oslo_db" "direct" "wsrep" . | include "helm-toolkit.endpoints.endpoint_port_lookup" }}"
    config_ipv6: |
      [mysqld]
      wait_timeout=3600
      wsrep_provider_options="gmcast.listen_addr=tcp://[::]:{{ tuple "oslo_db" "direct" "wsrep" . | include "helm-toolkit.endpoints.endpoint_port_lookup" }}"
      bind_address=::
      wsrep_sst_method=rsync
network:
  ip_family_policy: PreferDualStack
...
