#
# Copyright (c) 2022-2025 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

---
apiVersion: "helm.toolkit.fluxcd.io/v2"
kind: HelmRelease
metadata:
  name: openvswitch
  labels:
    chart_group: openstack-openvswitch
spec:
  releaseName: osh-openstack-openvswitch
  chart:
    spec:
      chart: openvswitch
      version: 2025.1.0
      sourceRef:
        kind: HelmRepository
        name: starlingx
  interval: 1m
  timeout: 30m
  test:
    enable: false
  install:
    disableHooks: false
  upgrade:
    disableHooks: false
  dependsOn:
    - name: placement
      namespace: openstack
  valuesFrom:
    - kind: Secret
      name: openvswitch-static-overrides
      valuesKey: openvswitch-static-overrides.yaml
    - kind: Secret
      name: openvswitch-system-overrides
      valuesKey: openvswitch-system-overrides.yaml
...
