#
# Copyright (c) 2022-2025 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

---
release_group: osh-openstack-openvswitch
labels:
  isApplication: false
  ovs:
    node_selector_key: openvswitch
    node_selector_value: enabled
images:
  tags:
    dep_check: quay.io/airshipit/kubernetes-entrypoint:9ff5d2e488ad18187bccc48e9595f197d27110c4-ubuntu_jammy
    image_repo_sync: null
    openvswitch_db_server: docker.io/starlingx/stx-ovs:master-debian-stable-latest
    openvswitch_vswitchd: docker.io/starlingx/stx-ovs:master-debian-stable-latest
    pre_apply_cleanup: docker.io/starlingx/stx-vault-manager:master-debian-stable-latest
pod:
  tolerations:
    openvswitch:
      enabled: true
      tolerations:
      - key: node-role.kubernetes.io/master
        operator: Exists
        effect: NoSchedule
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
        effect: NoSchedule
      - key: openstack-compute-node
        operator: Exists
        effect: NoSchedule
...
