Source: python3-k8sapp-openstack
Section: libs
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-pbr,
 python3-setuptools,
 python3-wheel
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: python3-k8sapp-openstack
Section: libs
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: StarlingX Sysinv Openstack Extensions
 This package contains sysinv plugins for the Openstack armada
 K8S app.

Package: python3-k8sapp-openstack-wheels
Section: libs
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-wheel
Description: StarlingX Sysinv Openstack Extension Wheels
 This package contains python wheels for the Openstack armada
 K8S app plugins.
