#
# Copyright (c) 2022-2024 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

---
apiVersion: "helm.toolkit.fluxcd.io/v2"
kind: HelmRelease
metadata:
  name: garbd
  labels:
    chart_group: openstack-garbd
spec:
  releaseName: osh-openstack-garbd
  chart:
    spec:
      chart: garbd
      version: 2025.1.0
      sourceRef:
        kind: HelmRepository
        name: starlingx
  interval: 1m
  timeout: 30m
  test:
    enable: false
  install:
    disableHooks: False
  upgrade:
    disableHooks: False
  dependsOn:
    - name: mariadb
      namespace: openstack
  valuesFrom:
    - kind: Secret
      name: garbd-static-overrides
      valuesKey: garbd-static-overrides.yaml
    - kind: Secret
      name: garbd-system-overrides
      valuesKey: garbd-system-overrides.yaml
...
