#!/usr/bin/make -f
export DH_VERBOSE = 1

export ROOT = debian/tmp
export HELM_FOLDER = $(ROOT)/usr/lib/helm

%:
	dh $@

override_dh_auto_build:
	# Create the chart TGZ files.
	make SKIP_CHANGELOG=1 helm-toolkit
	make SKIP_CHANGELOG=1 gnocchi
	make SKIP_CHANGELOG=1 libvirt
	make SKIP_CHANGELOG=1 mariadb
	make SKIP_CHANGELOG=1 memcached
	make SKIP_CHANGELOG=1 openvswitch
	make SKIP_CHANGELOG=1 rabbitmq
	make SKIP_CHANGELOG=1 ceph-rgw
	make SKIP_CHANGELOG=1 prometheus-openstack-exporter

override_dh_auto_install:
	# Install the chart tar files.
	install -d -m 755 $(HELM_FOLDER)
	install -p -D -m 755 *.tgz $(HELM_FOLDER)

override_dh_auto_test:

override_dh_usrlocal:
