#!/usr/bin/make -f
export DH_VERBOSE = 1

export ROOT = debian/tmp
export HELM_FOLDER = $(ROOT)/usr/lib/helm

%:
	dh $@

override_dh_auto_build:
	# Create the chart TGZ files.
	make helm-toolkit
	make gnocchi
	make ingress
	make libvirt
	make mariadb
	make memcached
	make openvswitch
	make rabbitmq
	make ceph-rgw

override_dh_auto_install:
	# Install the chart tar files.
	install -d -m 755 $(HELM_FOLDER)
	install -p -D -m 755 *.tgz $(HELM_FOLDER)

override_dh_auto_test:

override_dh_usrlocal:
